extends layout

block content
   
    .container
        h1.main-title #{title}
        .row
            .col-md-12.mx-auto.my-5
                table.table.table-hover(style='background-color: rgba(255, 255, 0, 0.7)')
                    thead
                        tr
                            th.text-center(scope='col', width='5%') #
                            th(scope='col', width='25%') Product
                            th.text-center(scope='col', width='10%') Price
                            th.text-center(scope='col', width='20%') Quantity
                            th.text-center(scope='col', width='20%') Sub Total
                            th.text-center(scope='col', width='20%') Delete Item
                    tbody
                        - var total = 0;
                        each order, i in cart
                            - total += order.subtotal
                            tr.my-auto(id= order._id)
                                th(scope='row')
                                    p.font-weight-bold= i+1
                                td(style='')
                                    p.font-weight-bold= order.productId.title
                                td 
                                    p.font-weight-bold.text-center.price= order.productId.price
                                td.text-center
                                        button.increaseQty.btn.btn-outline-secondary.btn-sm.minus(type='button', data-orderId=order._id) - 
                                        span &nbsp;
                                        input.currentQty(type='hidden', value=order.quantity)
                                        p.font-weight-bold.text-center.d-inline.quantity= order.quantity
                                        span &nbsp;
                                        button.decreaseQty.btn.btn-outline-secondary.btn-sm.plus(type='button', data-orderId=order._id) +
                                td 
                                    p.font-weight-bold.text-center.subtotal= order.subtotal.toFixed(2)
                                td.text-center
                                    button.removeFromCart.btn.btn-outline-danger(type='button', data-orderId=order._id) X
                        tr
                            td
                            th(scope='col', colspan='3') Total
                            td
                                p.font-weight-bold.text-center#total= total.toFixed(2)
                            td.text-center
                br
                button.btn.btn-outline-warning.custom-btn Check Out
                a.removeCart.btn.btn-outline-danger.custom-btn.ml-2(type='button', href='/cart/remove-cart') Delete Cart
    