extends layout

block content
   
    .container
        h1.main-title #{title}
        .row
            .col-md-8.mx-auto.my-5
                table.table.table-hover(style='background-color: rgba(255, 255, 0, 0.7)')
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Product
                            th(scope='col') Price
                            th(scope='col') Quantity
                            th(scope='col') Sub Total
                            th.text-center(scope='col') Delete Item
                    tbody
                        - var total = 0;
                        each order, i in cart
                            - total += order.subtotal
                            tr(id= order._id)
                                th(scope='row')
                                    p.font-weight-bold= i+1
                                td(style='')
                                    p.font-weight-bold= order.productId.title
                                td 
                                    p.font-weight-bold.text-center= order.productId.price
                                td.text-center
                                    button.increaseQty.btn.btn-outline-secondary.btn-sm(type='button', data-orderId=order._id) - 
                                    span &nbsp;
                                    p.font-weight-bold.text-center.d-inline= order.quantity
                                    span &nbsp;
                                    button.decreaseQty.btn.btn-outline-secondary.btn-sm(type='button', data-orderId=order._id) +
                                td 
                                    p.font-weight-bold.text-center= order.subtotal
                                td.text-center
                                    button.removeFromCart.btn.btn-outline-danger(type='button', data-orderId=order._id) X
                        tr
                            td
                            th(scope='col', colspan='3') Total
                            td
                                p.font-weight-bold.text-center= Math.round(total * 100) / 100
                            td.text-center
                br
                button.btn.btn-outline-warning.custom-btn Check Out
                a.removeCart.btn.btn-outline-danger.custom-btn.ml-2(type='button', href='/cart/remove-cart') Delete Cart
    