extends admin-layout

block content   

    .container
        h1 #{title}
        hr
        p= product.title
        p= product.description
        p= product.image
        p= product.stock
        p= product.price



